.footer
  div.footer__address г.Москва, ул.Строителей, д.25
  div.footer__copyright site.ru 2016
// END .footer
<!-- build:js js/vendor.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
// endbower
<!-- endbuild -->

<!-- build:js js/main.min.js -->
//- script(src="../js/modules/myjqueryui.js")
script(src="js/app.js")
//- script(src="js/modules/slider.js")
script(src="js/modules/value_image.js")
<!-- endbuild -->
